out/
release/
scripts/
data/*
!data/music/
data/music/*
!data/music/level-complete.wav
!data/music/lightning.wav
!data/music/u_39xav15uou-lightning-237994.mp3
*.class
*.log

.idea/workspace.xml
.idea/tasks.xml
.idea/shelf/
